a{
    background-color: #bafff4;
    transition: background-color .3s;
}

a:hover{
    background-color: #dfeb00;
}

.bigger{
    font-size: 15pt;
}

h2.colorful{
    color: #e8e8a5;
}

#font{
    font-family:Courier New
}

h1 em{
    color: blue;
}

h1{
    text-decoration: underline; background-color: #ffffe8
}